@model Thak_tshehWebAPI.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HashPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HashPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MySkill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MySkill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowComingActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowComingActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowNeedEvalActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowNeedEvalActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowCollectActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowCollectActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowFinishActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowFinishActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowCancelActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowCancelActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowFollowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowFollowing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowFollowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowFollowers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckMailCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckMailCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCodeCreatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCodeCreatDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefreshToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefreshToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefreshTokenCreatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefreshTokenCreatDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
